/* respensevv */
@media screen and (max-width: 480px) {
  /*@media (min-width: 400px) and (max-width: 00px) hedhi 5edmet*/
  .body {
    width: 90%;
    font-size: 95;
  }
  .mainHeader nav {
    height: 160%;
  }
  .mainHeader ul {
    width: 100%;
    padding: 0;
  }
  .mainHeader nav ul li {
    display: inline;
  }
  .mainHeader a:link,
  .mainHeader a:visited {
    display: inline-block;
  }
  .mainHeader a:hover,
  .mainHeader a:active {
    color: white;
    background-color: #f58233;
    text-shadow: none;
  }
  .mainContent {
    width: 100%;
  }
  .theSidebar {
    width: 100%;
    margin: 2% 0 0 2%;
    float: left;
    padding: 2%;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }
}
